<!DOCTYPE html>
<html>
<head>
<title>Discovery Feed</title>
</head>
<body>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/users/login">Login</a></li>
    <li><a href="/users/register">Register</a></li>
    <li><a href="/users/logout">Logout</a></li>
</ul>
{{{body}}}
</body>
</html>