<script src="fetch.js"></script>

<h1 id="record_release_count"></h1>

<h2>Departments</h2>
{{#departments return_object }}

{{/departments}}

<h2>Places</h2>
<ul id="places">

</ul>

<h2>Taxonomies</h2>
<ul id="taxonomies">

</ul>

<h2>Time periods</h2>
<ul id="time_periods">

</ul>

