{{#get_record_count}}

{{/get_record_count}}

<h2>Departments</h2>
{{#get_departments }}

{{/get_departments}}

<h2>Places</h2>
{{#get_places }}

{{/get_places}}

<h2>Taxonomies</h2>
{{#get_taxonomies }}

{{/get_taxonomies}}


<h2>Time periods</h2>
{{#get_time_periods }}

{{/get_time_periods}}

