{{#record_count}}

{{/record_count}}

<h2>Departments</h2>
{{#departments }}

{{/departments}}

<h2>Places</h2>
{{#places }}

{{/places}}

<h2>Taxonomies</h2>
{{#taxonomies }}

{{/taxonomies}}


<h2>Time periods</h2>
{{#time_periods }}

{{/time_periods}}

