<h1>Feed Options</h1>

<h2>Department Subscriptions</h2>
<form action="/feed/options" method="post">
    <div class="form-department-checkboxes">
        <ul>
            {{#each subscription}}
                {{#if this}}
                    <div class="form-row">
                        <input type="checkbox" name="{{@key}}"
                               checked/> {{@key}} : subscribed
                    </div>
                {{/if}}
            {{/each}}

            {{#each subscription}}
                {{#unless this}}
                    <div class="form-row">
                        <input type="checkbox" name="{{@key}}"/> {{@key}} : not subscribed
                    </div>
                {{/unless}}
            {{/each}}
        </ul>
    </div>

    <input type="submit"/>

</form>
