<h1>Register</h1>

{{#if errors}}
    <h2>Validation Errors: </h2>
    <ul class="error">
    {{#each errors}}
        <li>{{msg}}</li>
    {{/each}}
    </ul>
{{/if}}



<form method="post" action="/users/register">
    First Name <input type=text" name="name"/><br/>
    Email <input type=text" name="email" /><br/>
    Username <input type=text" name="username" /><br/>
    Password <input type="password" name="password"/><br/>
    <input type="submit" />
</form>