<h1>Register</h1>

{{#if errors}}
    <h2>Validation Errors: </h2>
    <ul class="error">
    {{#each errors}}
        <li>{{msg}}</li>
    {{/each}}
    </ul>
{{/if}}



<form method="post" action="/users/register">
    <fieldset>
        <div class="form-row">
        <label for="name">First Name</label>
        <input type=text" name="name" id="name"/>
    </div>


        <div class="form-row">
            <label for="email">Email</label>
            <input type=text" name="email" id="email"/>
        </div>

        <div class="form-row">
            <label for="username">Username</label>
            <input type=text" name="username" id="username"/>
        </div>

        <div class="form-row">
            <label for="password">Password</label>
            <input type="password" name="password" id="password"/>
        </div>

        <input type="submit" value="Register"/>
    </fieldset>
</form>
