@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    font-family: "Open Sans", sans-serif;
}
.form-department-checkboxes {
    overflow-y: scroll;
    max-height:500px;
}

.centre-image {
    display: block;
    max-width: 50%;
    margin: 1% auto;
}