@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Bitter');

* {
    font-family: "Open Sans", sans-serif;
}
.form-department-checkboxes {
    overflow-y: scroll;
    max-height:500px;
    background-color: white;
    margin-bottom: 5%;
}

#keyword-box {
    height:500px;
    background-color: white;
    margin-bottom: 5%;
    padding:5%;
}

.center-logo {
    display: block;
    max-width: 570px;
    margin: 1% auto;
}

#record-openings-overflow {
    overflow-y: scroll;
    max-height: 700px;
    margin-bottom: 5%;
}

#record-updates-overflow {
    overflow-y: scroll;
    max-height: 1000px;
    margin-bottom: 5%;
}

footer {
    margin-top: 1%;
}

.subscription-search-box {
    margin-bottom: 5%;
}
